/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
     padding-top: 100px;
     margin-left: 30px;
     margin-right: 30px;
     height: 100%}
    
    /* Set gray background color and 100% height */
.sidenav {
     
      height: 100%;
    }
    
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }