<!DOCTYPE html>
<!-- <html> -->
  <head>
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/cover.css">
    <link rel="stylesheet" href="../public/stylesheets/sce.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../public/javascripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

 <style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  .map-popup-content {
    color: rgb(0,0,0);
  }
  /* Optional: Makes the sample page fill the window. */
</style>

  </head>


  <nav>
  <h3 class="masthead-brand">Australia City Analytics</h3>

    <ul class="nav masthead-nav">
      <li><a href="/Scenarios">Scenarios</a></li>
      <li><a href="/MapDemo">Map</a></li>
    </ul>
  </nav>

<div class="container-fluid">


  <div class="row content" style="">
    <div class="col-sm-3 sidenav">
      <h4>Scenarios</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Life Satisfaction</a></li>
        <li><a href="/scenarios/ieo">Education VS Vulgar Words</a></li>
        <li><a href="/scenarios/ier">Wealth VS Trump</a></li>
        <li><a href="/scenarios/health">Self-Assessed Health</a></li>
        <li><a href="/scenarios/volunteer">Volunteer Work</a></li>
        
      </ul><br/>
    </div>

    <div class="col-sm-9">
      <h2>Melbourne Residents' Life Satisfaction Level Analysis</h2>
      <hr/>
      <h3>Aurin Data</h3>
 

 
        
        <div style="width:800px; height:500px;">
        <canvas id="chart1"></canvas>
        <div style="margin-left:500px">
        <p> * 100: the highest level of life satisfaction</p>
        <p> *   0: the lowest level of life satisfaction</p>
        </div>
       </div>
        <div style="width:800px; height:450px;">
        <canvas id="chart2"></canvas>
        <p style="margin-left:500px"> * 100: the highest level of life satisfaction</p>
        <p style="margin-left:500px"> *   0: the lowest level of life satisfaction</p>
       </div>
        <div style="width:800px; height:450px;">
        <canvas id="chart3"></canvas>
        <p style="margin-left:500px"> * 100: the highest level of life satisfaction</p>
        <p style="margin-left:500px"> *   0: the lowest level of life satisfaction</p>
       </div>
       


      <hr/>
      <h3> Tweets Data Analysis</h3>
       <div style="width:800px; height:450px;">
        <canvas id="chart4"></canvas>
        <p style="margin-left:320px"> * scale: the percentage of positive tweets out of all tweets in this suburb</p>
       </div>
<div style="display:none">
      <hr/>
      <h3>Data show </h3>
      <h4><%= chart1 %></h4>
      <p><%= suburbs_avg %></p>
      <p><%= scores_avg %></p>
      <h4><%= chart2 %></h4>
      <p><%= suburbs_high %></p>
      <p><%= scores_high %></p>
      <h4><%= chart3 %></h4>
      <p><%= suburbs_low %></p>
      <p><%= scores_low %></p>
      <h4><%= chart4 %></h4>
      <p><%= suburb_tweets %></p>
      <p><%= scores_tweets %></p>


      <br/><br/>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
//read all data 
var scor_num = <%- (scores_avg) %>
var suburbs = <%- suburbs_avg %>
var chart1 = <%- JSON.stringify(chart1) %>
var scor_num2 = <%- (scores_high) %>
var suburbs2 = <%- suburbs_high %>
var chart2 = <%- JSON.stringify(chart2) %>
var scor_num3 = <%- (scores_low) %>
var suburbs3 = <%- suburbs_low %>
var chart3 = <%- JSON.stringify(chart3) %>
var scor_num4 = <%- scores_tweets %>
var suburbs4 = <%- suburb_tweets %>
var chart4 = <%- JSON.stringify(chart4) %>
var ctx1 = document.getElementById("chart1");
var chart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: suburbs,
        datasets: [{
            label: chart1,
            data: scor_num,
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)'
             
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)'
 
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min: 79.5,
                    max: 80.5,
                    fontColor: "white"   
                }
            }]
        }
    }
});
var ctx2 = document.getElementById("chart2");
var chart2 = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: suburbs2,
        datasets: [{
            label: chart2,
            data: scor_num2,
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)'
             
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)'
 
            ],
            borderWidth: 1
        }]
    },
  options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min: 70,
                    max: 71.5,
                    fontColor: "white"   
                }
            }]
        }
    }
});
var ctx3 = document.getElementById("chart3");
var chart3 = new Chart(ctx3, {
    type: 'bar',
    data: {
        labels: suburbs3,
        datasets: [{
            label: chart3,
            data: scor_num3,
           backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)'
             
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)'
 
            ],
            borderWidth: 1
        }]
    },
  options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min: 1.5,
                    max: 2.5,
                    fontColor: "white"   
                }
            }]
        }
    }
});
var ctx4 = document.getElementById("chart4");
var chart4 = new Chart(ctx4, {
    type: 'bar',
    data: {
        labels: suburbs4,
        datasets: [{
            label: chart4,
            data: scor_num4,
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(255, 99, 132, 0.8)'
             
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)',
                'rgba(255,99,132,1)'
 
            ],
            borderWidth: 1
        }]
    },
  options: {
        legend: {labels:{fontColor:"white", fontSize: 14}},
        scales: {
            xAxes: [{
                ticks: {
                    fontColor: "white" ,
                    autoSkip: false
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:false,
                    min:0,
                    max:1,
                    fontColor: "white"   
                }
            }]
        }
    }
});
</script>