<!DOCTYPE html>
<!-- <html> -->
  <head>
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/cover.css">
    <link rel="stylesheet" href="../public/stylesheets/sce.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../public/javascripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

 <style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  .map-popup-content {
    color: rgb(0,0,0);
  }
  /* Optional: Makes the sample page fill the window. */
</style>

  </head>


  <nav>
  <h3 class="masthead-brand">Australia City Analytics</h3>

    <ul class="nav masthead-nav">
      <li><a href="/Scenarios">Scenarios</a></li>
      <li><a href="/MapDemo">Map</a></li>
    </ul>
  </nav>

<div class="container-fluid">
  <div style="padding-top:200px;margin-left:30px;margin-right:30px;height:100%">
<h1 class="cover-heading">Australia City Analytics</h1>
<h1 class="cover-heading"></h1>
<p class="lead" style="margin-top:50px;">A website to analyse Twitter data with AURIN statistics  .
  <p class="lead" style="margin-top:50px;"></p>
</p>
  </div>
</div>